.banner {
    background-color: #cecece;
    background: url('../img/banner3.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 600px;
    padding-bottom: 60px;
    color: white;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
}

.header {
    top: 0;
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1030;
}

.logo {
    font-family: 'Righteous', cursive;
    font-size: 300%;
    margin-bottom: 0;
}

.social {
    line-height: 85px;
}

.social img {
  width: 35px;
  /*margin-top: 20px;*/
  margin-left: 10px;
}

.form-row {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.body {
    line-height: 1.6;
    margin-bottom: 60px;
    margin-top: 40px;
}

.footer {
    text-align: center;
    height: 80px;
    margin-top: 60px;
    padding: 30px;
}

@media(max-width: 991px) {
    .header {
        position: static;
    }

    .logo {
        font-size: 250%;
    }

    .social {
        line-height: 80px;
    }

    .social img {
        width: 25px;
    }

    h1 {
        font-size: 200%;
    }
}
