$icon-font-path: "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/fonts/";

$brand-primary: #BF4D28;
$brand-success: #80BCA3;
$brand-info: #E6AC27;

$navbar-height: 70px;
$navbar-border-radius: 0px;
$navbar-default-bg: #fff;

$templates-bg: #cecece;

@import url(https://fonts.googleapis.com/css?family=Open+Sans|Righteous);
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  font-family: 'Open Sans', sans-serif;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #fff;
  text-align: center;
}

.wrapper {
  padding-bottom: 60px;
}

.navbar-default .navbar-brand {
  font-family: 'Righteous';
  color: $brand-primary;
}

.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
  color: darken($brand-primary, 6.5%);
}

.logo-img-container {
  width: 200px;
  height: 200px;
}

#logo_img {
  border: 5px dashed #ccc;
  cursor: pointer;
}

.template-img-container {
  width: 154px;
  height: 200px;
}

#template_img {
  width: 154px;
  height: 200px;
  border: 5px dashed #ccc;
  cursor: pointer;
}

.templates {
  background: $templates-bg;
}

.template-container {
  text-align: center;
  margin: 10px 0;
}

.template img {
  border: 5px solid transparent;
}

.template img:hover {
  border: 5px dashed #fff;
}

.vcenter {
  vertical-align: middle !important;
  text-align: center;
}

.selected {
  border: 5px solid #fff;
}

.vertical-align {
  display: flex;
  align-items: center;
  height: 100vh;
  text-align: center;
}

.error-header {
  font-family:Righteous;
  color: #BF4D28;
  font-weight:800;
  font-size: 500%
}
